.sidebar {
  width: 250px;
  height: 100vh;

  background: #111827;
  color: white;

  padding: 20px;

  position: fixed;
  left: 0;
  top: 0;
}

.sidebar h2 {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 20px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.sidebar a:hover {
  color: #60a5fa;
}